$color-primary-purple: linear-gradient(90deg, rgb(3, 3, 171) 0%, rgb(103, 134, 182) 35%, rgb(211, 219, 239) 100%); // главный цвет header & footer
$color-primary-border: 1px 1px 2px #28073a, 0 0 1em #6868e5, 0 0 0.2em #050594;// for navBar
$color-primary-deep-purple: #330a5b; //основной цвет страницы
$color-primary-white: #cfcdd9; //главный цвет текста
$color-primary-gray: #0253fd; //главный цвет фона
$color-primary-buttons: #7A66CC; //цвет кнопок
$color-primary-card-background: #2F2B2B; //цвет видео карточек
//$color-primary-burger: linear-gradient(180deg, rgb(52, 52, 150) 0%, rgb(103, 134, 182) 35%); //burger-color

